body {
    background-color: #cc7ea9; 
    color: #76cbe7; 
    font-family: "Montserrat", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #E67E22;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D35400;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 85%;
    background-color: #34495E; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

img {
    max-width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
}

